html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.header {
    width: 100%;
    height: 80px;
    padding: 0 20px;
    background-color: black;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}

.title {
    height: 40px;
    margin: auto 0;
}

.legend {
    line-height: 80px;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 2px;
    color: gray;
}

.legend li {
    list-style: none;
    color: red;
    font-weight: bold;
    background-color: #880000;
    line-height: 40px;
    padding: 0 20px;
    margin: 20px 10px;
    border-radius: 100px;
}

.legend .item2 {
    color: blue;
    background-color: rgb(8, 8, 92);
}

.legend .item3 {
    color: green;
    background-color: rgb(1, 39, 1);
}

.legend .item4 {
    color: yellow;
    background-color: rgb(95, 95, 6);
}

#mapid {
    width: 100%;
    height: 100%;
}