html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

.sidebar {
    width: 280px;
    height: 100%;
    padding: 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    background: #FFFFFF;
    border-radius: 0 10px 10px 0;
    box-shadow: 0 6px 12px 0 rgba(0,0,0,0.45);
    /* animation-name: sidebarMove;
    animation-duration: 1s; */
}

.logo {
    background: url(assets/logo.svg);
    background-position: 14px center;
    background-repeat: no-repeat;
    height: 60px;
}

.legend {
    margin: 0;
    padding: 0;
    justify-content: center; 
    color: gray;
}

.legend li {
    list-style: none;
}

.legend li h3 {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
    margin-bottom: 4px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.legend .item1 h3 {
    color: #FFBF46;
}

.legend .item2 h3 {
    color: #4DA1A9;
}

.legend .item3 h3 {
    color: #D7E8BA;
}

.legend li p {
    font-size: 14px;
    font-weight: 100;
    text-transform: none;
    color: gray;
    margin-top: 0;
    margin-bottom: 30px;
}

.credits {
    font-size: 12px;
    font-weight: 100;
    text-transform: none;
    color: rgb(173, 173, 173);
    justify-content: flex-end;
    margin-bottom: -20px;
    text-align: center;

}

#photo {
    background-color: #FFFFFF;
    background: url(assets/photos/sample.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: 2;
    top: 20px;
    right: 20px;
    height: 235px;
    width: 350px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.45);
}

#mapid {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.leaflet-top {
    right: 0;
}

/* @keyframes sidebarMove {
    0%   {left:-280px;}
    100% {left:0px;}
  } */